:root {
    --button_blue: rgb(27, 183, 235);
    ;
}


html {

    font-size: 62.5%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;


    margin: 0;
    padding: 0;
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5rem;

}

h2 {
    width: 25%;
}

table {

    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: none;
}

table,
th,
td {
    border: none;
    width: auto;
    color: whitesmoke;
    width: 50%;
    text-align: left;
    border: 1px solid black;
}

td {
    text-align: left;
    color: black;
    font-weight: bold;
}

th {
    text-align: left;
    background-color: var(--button_blue);
    font-weight: bold;
}

tr:nth-child(odd) {
    background-color: lightblue;
}

tr:nth-child(even) {
    background-color: rgb(213, 225, 233);
}

#employee-form {
    display: flex;
    display: inline;
    width: auto;
}

#employee-form label {
    display: inline-block;
    width: 100px;
    margin-left: 0px;
    text-align: left;
    font-weight: bold;
}

#employee-form input {
    display: inline;
    margin-bottom: 1rem;
    border-color: var(--button_blue);
    height: 30px;
    width: 250px;
}

#employee-form button {
    background-color: var(--button_blue);
    color: whitesmoke;
    font-weight: bold;
    padding: 5px 30px;
    margin-left: 270px;


}

#row-delete {
    background-color: var(--button_blue);
    color: whitesmoke;
    font-weight: bold;
    padding: 5px;
    margin: 5px;


}

.error {
    color: red;

}